{% extends "base.html" %}
{% load static %}

{% block content %}
     <!-- HEADER -->
	 <header class="masthead">
        <div class="container-fluid d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
				<h1  class="text-white mx-auto my-100 line1"><strong>Selamat Bermain</strong></h1>
				<button id="test">test</button>
            </div>
        </div>
    </header>
	
<body>

	<div class="hpg-content">
        <div class="row">
			<div class="col-md-12 text-center">
				<button id="tryAgain" class="btn btn-outline-primary badge-pill btn-lg text-right" style="border-color: #5F5F5F">Try Again</button>	
			</div>
	    	<div class="col-md-12">
				<p class="card-text"></p>
					<h5 class="card-title text-turn" id=TU>
						<strong>YOUR/AI TURN! WKKWKWK</strong>						
					</h5>
				<p class="card-text"></p>
					<a id="tryAgain" class="btn btn-outline-primary badge-pill btn-lg text-right" role="button" href="{% url 'pilihan:choosen_page' %}" style="border-color: #5F5F5F">Try Again</a>	
				<p class="card-text"></p>
				<div class="card border-dark mb-3 mx-auto" id="board" style="max-width: 52rem;">
					<p class="card-text"></p>
						<h5 class="card-title text-center">rencananya disini dibikin kotak boardnyawww</h5>
						
					<div class="row skeleton-horizontal" id="highest-row">
						<div class="col-1"></div>
						<div class="col-1">
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b1" style="padding: 12px 24px;"> 
							<img id="g1" src="" width="30px">
							</button>
						</div>
						<div class="column2 col-3">
							<hr class="horizontal line" >
						</div>
						<div class="col-1">
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b2" style="padding: 12px 24px;">
							<img id="g2" src="" width="30px"></button>
						</div>
						<div class="column2 col-3">
							<hr class="horizontal line">
						</div>    
						<div class="col-1">	
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b3" style="padding: 12px 24px;"> 
							<img id="g3" src="" width="30px">
							</button>
						</div>
						<div class="col-1">	</div>
					</div>

					<div class="row skeleton-vertikal" id="first-row">
						<div class="col-1">
							<hr class="vertical line">
						</div>
						<div class="column"  style="background-color: #aaa;">
							<hr class="diagonal-left line">
						</div>
						<div class="col-1">
								<hr class="vertical line">
						</div>
						<div class="column" style="background-color: #bbb;">
							<hr class="diagonal-right line">
						</div>
						<div class="col-1">
							<hr class="vertical line">
						</div>    
					</div>

					<div class="row skeleton-horizontal" id="middle-row">
						<div class="col-1"></div>
						<div class="col-1">
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b4" style="padding: 12px 24px;"> 
							<img id="g4" src="" width="30px">
							</button>
						</div>
						<div class="column2 col-3">
							<hr class="horizontal line" >
						</div>
						<div class="col-1">	
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b5" style="padding: 12px 24px;"> 
							<img id="g5" src="" width="30px">
							</button>
						</div>
						<div class="column2 col-3">
							<hr class="horizontal line">
						</div>    
						<div class="col-1">	
<!-- 							<button lass="w3-button w3-xlarge w3-white w3-border w3-round-large" id="6" style="padding: 25px 24px;"> -->
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b6" style="padding: 25px 24px;">
							<img id="g6" src="" width="30px"> 
<!-- 							<img src="/static/img/grav1.png" width="30px"> -->
							</button>
						</div>
					</div>

					<div class="row skeleton-vertikal" id="second-row">
						<div class="col-1" >
							<hr class="vertical line">
						</div>
						<div class="column"  style="background-color: #aaa;">
							<hr class="diagonal-right line">
						</div>
						<div class="col-1">
							<hr class="vertical line">
						</div>
						<div class="column" style="background-color: #bbb;">
							<hr class="diagonal-left line">
						</div>
						<div class="col-1">
							<hr class="vertical line">
						</div>    
					</div>

					<div class="row skeleton-horizontal" id="lowest-row">
						<div class="col-1"></div>
						<div class="col-1">
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b7" style="padding: 12px 24px;"> 
							<img id="g7" src="" width="30px">
							</button>
						</div>
						<div class="column2 col-3">
							<hr class="horizontal line" >
						</div>
						<div class="col-1">	
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b8" style="padding: 12px 24px;"> 
							<img id="g8" src="" width="30px">
							</button>
						</div>
						<div class="column2 col-3">
							<hr class="horizontal line">
						</div>    
						<div class="col-1">	
							<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b9" style="padding: 12px 24px;">
							<img id="g9" src="" width="30px">
							</button>
						</div>
					</div>

					<p class="card-text"></p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row right" style="padding-top: 50px;">
	        		<img src="{% static 'img/pesawat.PNG'%}">
	        	</div>
	        </div>

	    </div>
	</div>
</body>

<!-- <script>
$("button").click(function(){
	console.log("keklik3");
	$(this).toggleClass('w3-white w3-grey');
	$(this).toggleClass('btn-empty btn-fill');
	// $('button').append("<img src={% static 'img/grav1.png' %} width=30px>").button();

});	
$('#'+1).click(function(){
	console.log("keklik C1");
	$(this).toggleClass('w3-white w3-grey');
	$("#2").toggleClass('w3-white w3-grey');
	$("#4").toggleClass('w3-white w3-grey');
	$("#5").toggleClass('w3-white w3-grey');
	$(this).toggleClass('btn-empty btn-fill');

});	
</script> -->

<style>

.btn-empty{
	padding: 25px 24px;
}
.btn-fill{
	padding: 10px 14px;
}
</style>
{% endblock %}