{% extends "base.html" %}
{% load static %}

{% block content %}
     <!-- HEADER -->
	 <header class="masthead">
        <div class="container-fluid d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
				<h1 id="judulUtama" class="text-white mx-auto my-100 line1"><strong>Yuk Dipilih</strong></h1>
            </div>
        </div>
    </header>

<body>
	<!-- BOARD NYA DISINI -->
	<h1 id="alertParah">Perbesar windownya lagi yaa..</h1>
	<div id="boardAkhir">
		<div class="hpg-content">
	        <div class="row">
		    	<div class="col-md-12">
					<p class="card-text"></p>
						<h5 id="turns" class="card-title text-turn"><strong></strong></h5>
					<p class="card-text"></p>
		            <div class="card border-dark mb-3 mx-auto" id="board" style="max-width: 52rem;">
						<p class="card-text"></p>
							<h5 id="petunjuk" class="card-title text-center"></h5>
							<h5 id="petunjuk2" class="card-title text-center"></h5>
							<h5 id="petunjuk3" class="card-title text-center"></h5>
							
						<div class="row skeleton-horizontal" id="highest-row">
							<div class="col-1"></div>
							<div class="col-1">
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b1" style="padding: 5px 4px;"> 
								<img id="g1" src="" width="50px">
								</button>
							</div>
							<div class="column2 col-3">
								<hr class="horizontal line" id="12">
							</div>
							<div class="col-md-auto"></div>
							<div class="col-1">
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b2" style="padding: 5px 4px;">
								<img id="g2" src="" width="50px"></button>
							</div>
							<div class="column2 col-3">
								<hr class="horizontal line" id="23">
							</div>    
							<div class="col-md-auto"></div>
							<div class="col-1">	
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b3" style="padding: 5px 4px;"> 
								<img id="g3" src="" width="50px">
								</button>
							</div>
							<div class="col-1">	</div>
						</div>

						<div class="row skeleton-vertikal" id="first-row">
							<div class="column4"></div>
							<div class="column4">
								<hr class="vertical line" id="14">
							</div>				
							<div class="col-1"></div>	
							<div class="column"  style="background-color: #aaa;">
								<hr class="diagonal-left line" id="15">
							</div>
							<div class="column4">
								<hr class="vertical line" id="25">
							</div>   
							<div class="col-1" ></div>
							<div class="column" style="background-color: #bbb;">
								<hr class="diagonal-right line" id="35">
							</div>
							<div class="column4">
								<hr class="vertical line" id="36">
							</div>    
						</div>

						<div class="row skeleton-horizontal" id="middle-row">
							<div class="col-1"></div>
							<div class="col-1">
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b4" style="padding: 5px 4px;"> 
								<img id="g4" src="" width="50px">
								</button>
							</div>
							<div class="column2 col-3">
								<hr class="horizontal line" id="45">
							</div>
							<div class="col-md-auto"></div>
							<div class="col-1">	
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b5" style="padding: 5px 4px;"> 
								<img id="g5" src="" width="50px">
								</button>
							</div>
							<div class="column2 col-3">
								<hr class="horizontal line" id="56">
							</div>    
							<div class="col-md-auto"></div>
							<div class="col-1">	

								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b6" style="padding: 5px 4px;">
								<img id="g6" src="" width="50px"> 
								</button>
							</div>
						</div>

						<div class="row skeleton-vertikal" id="second-row">
							<div class="column4"></div>
							<div class="column4" >
								<hr class="vertical line" id="47">
							</div>
							<div class="col-1" ></div>
							<div class="column"  style="background-color: #aaa;">
								<hr class="diagonal-right line" id="57">
							</div>
							<div class="column4">
								<hr class="vertical line" id="58">
							</div>
							<div class="col-1" ></div>
							<div class="column" style="background-color: #bbb;">
								<hr class="diagonal-left line" id="59">
							</div>
							<div class="column4">
								<hr class="vertical line" id="69">
							</div>    
						</div>

						<div class="row skeleton-horizontal" id="lowest-row">
							<div class="col-1"></div>
							<div class="col-1">
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b7" style="padding: 5px 4px;"> 
								<img id="g7" src="" width="50px">
								</button>
							</div>
							<div class="column2 col-3">
								<hr class="horizontal line" id="78">
							</div>
							<div class="col-md-auto"></div>
							<div class="col-1">	
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b8" style="padding: 5px 4px;"> 
								<img id="g8" src="" width="50px">
								</button>
							</div>
							<div class="column2 col-3">
								<hr class="horizontal line" id="89">
							</div>    
							<div class="col-md-auto"></div>
							<div class="col-1">	
								<button class="w3-button w3-xlarge w3-white w3-border w3-round-large" id="b9" style="padding: 5px 4px;">
								<img id="g9" src="" width="50px">
								</button>
							</div>
						</div>
						<p class="card-text"></p>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<p class="card-text"></p>
						<!-- <div style="padding-right: 2rem; padding-left: 50rem;"> -->
							<button id="tryAgain" class="btn btn-outline-primary badge-pill btn-lg" href="{% url 'pilihan:choosen_page' %}" align="right" style="border-color: #5F5F5F; padding-right: 2rem; padding-left: 2rem;">Main Lagi!</button>
						<!-- </div> -->
					<p class="card-text"></p>
				</div>
				<div class="col-md-12">
					<div class="row right" style="padding-top: 50px;">
		        		<img src="{% static 'img/pesawat.PNG'%}">
		        	</div>
		        </div>

		    </div>
		</div>
	</div>

	<!-- CHOOSEN PAGE NYA DISINI -->
	<div id="chooseAkhir">
		<div class="hpg-content" align="center-block">
			<div class="row text-center">
		        <div class="col-md-12">
		        	<div class="col-md-10 text-right" style="padding-top: 100px;">
	        				<img src="{% static 'img/pesawat.PNG'%}">
		        	</div>
			            <h1><strong>Pilih Pemain Pertama</strong></h1>
			    </div>
		        <div class="col-md-12 text-center startBy">
	            	<div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
	            		<p class="card-text"></p>
	            			<!-- Opsi pertama -->
	            			<div class="container coba" align="center">
	            				<div></div>
	            				<div></div>
	            				<div></div>
	            				<div></div>
								<button class="btn btn-outline-dark" id="cAI" style="padding: 5px 23px; border: 1.5px solid #000000;"><Strong>AI</Strong></button>
								<button class="btn btn-outline-dark" id="cUS" style="padding: 5px 23px; border: 1.5px solid #000000;"><Strong>USER</Strong></button>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>

						<br>
						<p class="card-text"></p>
	        		</div>
		    	</div>
		    </div>
		    <div class="row text-center">
		    	<div class="col-md-12 text-center">
			        <h1><strong>Pilih Level Kesulitan</strong></h1>
			    </div>
		        <div class="col-md-12 text-center difficulty">
	            	<div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
	            		<p class="card-text"></p>
	            			<!-- Opsi Kedua -->
	            			<div class="container coba" align="center">
	            				<div></div>
	            				<div></div>
							    <button class="btn btn-outline-dark" id="cEas" style="padding: 5px 23px; border: 1.5px solid #000000;"><Strong>Mudah</Strong></button>
							    <button class="btn btn-outline-dark" id="cMed" style="padding: 5px 23px; border: 1.5px solid #000000;"><Strong>Sedang</Strong></button>
							    <button class="btn btn-outline-dark" id="cHrd" style="padding: 5px 23px; border: 1.5px solid #000000;"><Strong>Sulit</Strong></button>
							    <button class="btn btn-outline-dark" id="cSpc" style="padding: 5px 23px; border: 1.5px solid #000000;"><Strong>Spesial</Strong></button>
	            				<div></div>
	            				<div></div>
							</div>

						<br>
						<p class="card-text"></p>
	        		</div>
	    		</div>
		    </div>
		    <div class="row text-center">
		    	<div class="col-md-12 text-center">
			            <h1><strong>Pilih Gravatar</strong></h1>
			    </div>
		        <div class="col-md-12 text-center avatar">
	            	<div class="card border-dark mb-3 mx-auto" style="max-width: 30rem;">
	            		<p class="card-text"></p>
	            			<!-- Opsi ketiga -->
	            			<div class="container" align="center">
							    <button type="button" class="btn btn-outline-dark" id="cg1" style="border: 1.5px solid #000000;">
							    	<img src="{% static 'img/grav1.png' %}" width="30px">
							    </button>
							    <button type="button" class="btn btn-outline-dark" id="cg2" style="border: 1.5px solid #000000;">
							    	<img src="{% static 'img/grav2.png' %}" width="30px">
							    </button>
							    <button type="button" class="btn btn-outline-dark" id="cg3" style="border: 1.5px solid #000000;">
							    	<img src="{% static 'img/grav3.png' %}" width="30px">
							    </button>
							<!-- YANG KETIGA DIHAPUS BUAT AI -->
							    <button type="button" class="btn btn-outline-dark" id="cg4" style="border: 1.5px solid #000000;">
							    	<img src="{% static 'img/grav4.png' %}" width="30px">
							    </button>
							    <button type="button" class="btn btn-outline-dark" id="cg5" style="border: 1.5px solid #000000;">
							    	<img src="{% static 'img/grav5.png' %}" width="30px">
							    </button>
							</div>

						<br>
						<p class="card-text"></p>
	        		</div>
	    		</div>
		    </div>
		    <div class="row text-center">
				<div class="col-md-12 text-center">
					<br>
					<br>
					<a class="btn btn-outline-primary badge-pill btn-lg" style="padding-right: 2rem; padding-left: 2rem; color: #000000; border-color: #000000;" role="button" id="siapMain" style="border-color: #5F5F5F">Game dimulai!</a>
					<p id="alert">Pilih pemain pertama dulu!</p>
				</div>
		        <div class="col-md-12 text-center">
		        	<div class="col-md-9 text-left">
		        		<img src="{% static 'img/pesawat.PNG' %}" style=" transform: rotate(20deg); transform: rotateY(-185deg);">
		        	</div>
		        </div>
		    	
		    </div>
			<br><br><br>
		</div>
	</div>
</body>

<style type="text/css">
.btn-outline-primary {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}
.btn-outline-primary:hover {
  background-color: #B6B6B6;
  
}
.card {
	border: 3px solid rgba(0,0,0,.125);
}
.active {
  background-color: #B6B6B6;
}
</style>

<script>
$(".startBy button").click(function(){
  $(".startBy button").removeClass("active");
  $(this).addClass("active");
});
$(".difficulty button").click(function(){
  $(".difficulty button").removeClass("active");
  $(this).addClass("active");
});
$(".avatar button").click(function(){
  $(".avatar button").removeClass("active");
  $(this).addClass("active");
});
  function openNav() {
	 	document.getElementById("mySidepanel").style.width = "150px";
	}

	function closeNav() {
	 	document.getElementById("mySidepanel").style.width = "0";
	}
</script>

{% endblock %}
