* {
	margin: 0;
	padding: 0;
}

body {

}

a {
	text-decoration: none;
}

.navbar-bg {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo1 {
	width: 300px;
	left: -88.16px;
}

.signup-and-login {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: space-around;
	width: 12%;
	font-family: Montserrat;
	white-space: nowrap;
}

.signup-font {
	color: black;
	font-style: thin;
	font-weight: 300;
	font-size: 20px;
	margin-top: 3%;
}

.or-font {
	font-style: thin;
	margin-left: 10px;
	font-weight: 200;
	font-size: 20px;
	margin-top: 3%;
	opacity: 0.5;
}

.login-square {
	display: flex;
	border: 1px solid #44B39C;
	margin-left: 10px;
	border-radius: 15px;
	margin-top: 3%;
	height: 180%;
}

.login-font {
	font-family: Montserrat;
	margin-top: 5px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #44B39C;
	width: 91px;
	height: 27px;

}

.background {
	position: absolute;
	width: 100%;
	height: 730px;
	z-index: -1;
}

.hpg-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 18%;
	margin-top: 12%;
	width: 35%;
}

.hpg-headline {
	font-family: Roboto;
	font-weight: bold;
	font-size: 50px;
	line-height: 59px;
	color: rgba(73, 205, 177, 0.77);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hpg-subheadline {
	margin-top: 3%;
	font-family: Roboto;
	font-weight: 650;
	font-size: 25px;
	line-height: 28px;
	color: rgba(102, 102, 102, 0.97);
}

.signup-square {
	margin-top: 3%;
	width: 320px;
	display: flex;
	white-space: nowrap;
	justify-content: space-around;
	background: #78CBBA;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signupfont {
	color: white;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
}

.hpg-icon {
	position: absolute;
	margin-top: 130px;
	width: 600px;
	right: 5%;
}

/*......................................................*/

.sidepanel  {
	width: 0;
	position: fixed;
	z-index: 1;
	height: 90px;
	top: 0;
	right: 0;
	background-color: #78CBBA;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
}

.sidepanel a {
	padding: 8px 8px 8px 20px;
	text-decoration: none;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: 500;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidepanel a:hover {
	color: rgba(0,0,0,0.2);
}

.sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 40px;
}

.openbtn {
	display: none;
	position: absolute;	
	cursor: pointer;
	right: 10px;
	top: 10px;
	width: 50px;
	padding: 10px 15px;
	border: none;
}

/*.openbtn:hover {
  background-color:#444;
}*/

@media only screen and (max-width: 1400px) {
	.hpg-icon {
		width: 400px;
		margin-top: 330px;
		right: 1.5%;
	}

	.hpg-content {
		margin-left: 150px;
		margin-top: 14%;
		margin-bottom: 50px;
	}
	
	.hpg-headline {
		font-size: 45px;
	}

	.hpg-subheadline {
		font-weight: 500;
		margin-top: 1%;
		font-size: 25px;
	}
}

@media only screen and (max-width: 990px) {

	.hpg-content {
		margin-top: 10%;
	}

	.hpg-headline {
		width: 130%;
		font-size: 40px;
		line-height: 48px;
	}

	.hpg-subheadline {
		margin-top: 1%;
		font-size: 25px;
	}
}

@media only screen and (max-width: 870px) {
	.hpg-icon {
		right: 1.5%;
	}

	.signup-and-login {
		display: none;
	}

	.hpg-icon-frame {
	}

	.hpg-content {
		width: 80%;
		margin-top: 8%;
		margin-left: 10%;
		overflow: hidden;
	}

	.hpg-headline {
		width: 130%;
		font-size: 40px;
	}

	.hpg-subheadline {
		margin-top: 1%;
		font-size: 25px;
		text-align: justify;
	}

	.signup-square {
		margin-top: 3%;
		width: 100%;
		align-items: center;
		display: flex;
		white-space: nowrap;
		justify-content: space-around;
		background: #78CBBA;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.signupfont {
		color: white;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		align-items: center;
		vertical-align: middle;
	}

	.openbtn {
		display: block;
	}
}

@media only screen and (max-width: 580px) {
	.navbar-bg {
		color: white;
		width: 100%;
		display: block;
	}

	.openbtn {
		top: 0px;
	}

	.logo1 {
		width: 200px;
	}

	.hpg-content {
		margin-top: 10%;
	}

	.hpg-headline {
		width: 130%;
		font-size: 37px;
		line-height: 40px;
	}

	.hpg-subheadline {
		margin-top: 1%;
		font-size: 17px;
	}
}

@media only screen and (max-width: 410px) {
	.hpg-headline {
		width: 130%;
		font-size: 30px;
	}

	.hpg-subheadline {
		margin-top: 1%;
		font-size: 12px;
	}

	.hpg-icon {
		right: 1%;
	}
}