{% extends "base.html" %}
{% load static %}

{% block content %}
     <!-- HEADER -->
	 <header class="masthead">
        <div class="container-fluid d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
				<h1 class="text-white mx-auto my-100 line1"><strong>Selamat Datang di Games</strong></h1>
				<h1 class="text-white mx-auto my-0"><strong>Pesawat Kertas!</strong></h1>
            </div>
        </div>
    </header>
	
<body>
	<div class="hpg-content">
	    <div class="row text-center">
	        <div class="col-md-12 text-center">
	        	<div class="col-md-8 text-center" style="padding-top: 60px; padding-right: 80px">
					<img src="{% static 'img/pesawat.PNG' %}" style="transform: rotate(10deg); ">
					<br>
				</div>
				<br>
	            <h1 class="judul-kartu">Games Apa Ini?</h1>
	        </div>
	    	<div class="col-md-12 text-center">
	            <div class="card border-dark mb-3 mx-auto" style="max-width: 35rem; padding: 35px">
	            	<p class="card-text"></p>
	            	<h5 class="card-title isi-kartu">Pesawat Kertas adalah sebuah permainan
	            						   berbentuk <i> web-based application </i>
 										   yang diadaptasi dari permainan tradisional 
 										   masyarakat Indonesia yaitu “Catur Jawa”</h5>
					<p class="card-text"></p>
	        	</div>
	    	</div>
	    </div>

	    <div class="row text-center">
		    <div class="col-md-12 text-center">
	        	<div class="col-md-12 text-center">
	        		<br>
	        		<br>
	        		<br>
	        		<br>
	        	</div>
	        </div>
	        <div class="col-md-12 text-center">
	        	<div class="col-md-11 text-right" style="padding-right: 70px">
	        			<img src="{% static 'img/pesawat.PNG' %}" style=" transform: rotate(20deg); transform: rotateY(-185deg);">
	        	</div>
	            <h1 class="judul-kartu">Bagaimana cara mainnya?</h1>
	        </div>
	    	<div class="col-md-12 text-left">
	            <div class="card border-dark mb-3 mx-auto" style="max-width: 35rem; padding: 35px ">
	            	<h5 class="card-title isi-kartu" >- Permainan dilakukan oleh 2 orang pemain.<br>
	            	- Masing-masing pemain mendapat 3 bidak.<br>
	            	- Pemain secara bergantian menggerakkan<br>
	            	&ensp; bidak.<br>
	            	- Pergerakan satu bidak yaitu 1 langkah ke<br>
	            	&ensp; posisi yang sedang tidak ditempati oleh <br>
	            	&ensp; bidak lain.<br>
    				- Pemain yang membuat garis lurus dengan 3 <br>
    				&ensp; bidak terlebih dahulu keluar sebagai <br>
    				&ensp; pemenang dan permainan berakhir.<br>
    				- Tiga spot bidak pada awal permainan tidak <br>
    				&ensp; dapat dijadikan tempat membuat garis lurus.<br></h5>
					</p>
	        	</div>
	    	</div>
	    </div>
	    <div class="row text-center">
	        <div class="col-md-12 text-center">
	        	<div class="col-md-9 text-right">
	        	<br>

	        	<img src="{% static 'img/pesawat.PNG' %}" style="transform: rotate(-20deg);">
	        	</div>
	        </div>
	    	<div class="col-md-12 text-center">
	    		<a id="masukKeGame" class="btn btn-outline-primary badge-pill btn-lg " style="padding-right: 2rem; padding-left: 2rem; color: #000000; border-color: #000000; " role="button" href="{% url 'pilihan:choosen_page' %}" style="border-color: #5F5F5F">Saya siap! </a>
				<!-- <img src="{% static 'img/pesawat.PNG' %}"> -->
	    	</div>
	    	<!-- <img src="{% static 'img/pesawat.PNG' %}"> -->
	    </div>
		<br><br><br>
	</div>
</body>
<style type="text/css">
.btn-outline-primary {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);	
}
.btn-outline-primary:hover {
  background-color: #B6B6B6;
  
}
.card {
	border: 3px solid rgba(0,0,0,.125);
}
</style>
<script>
	function openNav() {
	 	document.getElementById("mySidepanel").style.width = "150px";
	}

	function closeNav() {
	 	document.getElementById("mySidepanel").style.width = "0";
	}
</script>

{% endblock %}