{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>PesawatKertas</title>
    <link rel="icon" href="{% static 'img/logo.PNG' %}" type="image/gif">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}">
	<link rel="stylesheet" type="text/javascript" href="{% static 'javascr/ourJS.js' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=McLaren">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="{% static 'js/script.js' %}"></script>
</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand active" href="{% url 'app_landingPage:landingPage' %}"><img src="{% static 'img/logo.PNG' %}" style="width:100px;"><span class="sr-only">(current)</span></a>
	</nav>

    {% block content %}
	{% endblock %}
	
	<!-- FOOTER -->
	<footer id="myFooter">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 text-center">
					<br>
                    <img src="{% static 'img/mascot.PNG' %}" style="width:75%;">
                </div>
                <div class="col-sm-3" style="margin-left:10px; margin-right:10px;">
                    <h5>PesawatKertas</h5>
                    <ul>
                        <li class="text-justify">Sebuah permainan yang diadaptasi dari permainan tradisional masyarakat Indonesia “Catur Jawa”.</li>
                    </ul>
				</div>
                <div class="col-md-auto">
                    <h5>Proyek Akhir</h5>
                    <ul>
						<li>Multi-Agent System	</li>
                        <li>Kelompok 4</li>
						<li>Sistem Cerdas - A</li>
						<li><a href="https://gitlab.com/airship-team/pesawat-kertas.git">Link Gitlab</a></li>
                    </ul>
				</div>
				<div class="col-auto"></div>
                <div class="col-md-auto">
                    <h5>Developer</h5>
                    <ul>
                        <li>Aulia Rosyida (1706025346)</li>
                        <li>Hana Raissya (1706979266)</li>
						<li>Mutia Rahmatun Husna (1706039622)</li>
						<li>Rahmat Fadhilah (1706074902)</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>